body {
    padding-top: 65px;
}

.search {
    opacity: 0;
    -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
   width:0px;
}

input.form-control.search.expanded {
    width: 15em;
}

.search.expanded {
    opacity: 1;
}

.nav-categories {
    margin-left: 15px;
}