body {
    padding-top: 65px;
}

.search {
    opacity: 0;
    -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
   width:0px;
}

input.form-control.search.expanded {
    width: 15em;
}

.search.expanded {
    opacity: 1;
}

.nav-categories {
    margin-left: 15px;
}

#suggestions {
    list-style-type: none;
}

#suggestions > a {
    border: 1px solid gainsboro;
    background-color: gainsboro;
    min-width: 100%;
    padding-left: 0.8em;
    padding-top: 0.2em;
    border-radius: 0px !important;
}

#suggestions > a:hover {
    background-color: lightgray;
}