body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 40px;
        margin: 0;
    }
    .welcome {
        font-size: 3.5rem !important;
    }
}

.special {
    font-family: 'Lobster Two', cursive;
}

.welcome {
    margin-top: 10%;
    margin-bottom: 8%;
    font-weight: 700;
    font-size: 5rem;
    text-shadow: 1px 1px 3px black;
}

.shadow {
    text-shadow: 1px 1px 3px black;
    font-weight: 700;
}

button:hover span {
    display: none;
}

button:hover:after span {
    background-color: black;
    color: white;
}

.new_user {
    background-color: white;
    color: #292b2c;
    border-color: #292b2c;
    /* transition: all .2s linear; */
}

.mini {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    /* text-decoration: underline; */
}

.section-head {
    font-family: 'Fira Sans', sans-serif;
    border-bottom: 4px solid black;
    margin-top: 7%;
    font-size: 3.5rem;
}

.new_user:hover {
    background-color: #292b2c;
    border-color: white;
}

.new_user:hover:after {
    content: "   Sign Up!   ";
    white-space: pre;
    color: lightgray;
    /* transition: all .2s linear; */
}

.returning {
    background-color: #292b2c;
    color: white;
    border-color: white;
    margin-bottom: 7%;
}

.returning:hover {
    background-color: white;
    border-color: #292b2c;
}

.returning:hover::after {
    content: "    Login Here!    ";
    white-space: pre;
    color: #292b2c;
}

.no:focus, .no:active {
    outline: none !important;
    box-shadow: none;
}

#home {
    background-image: url("./bg.jpeg");
    background-size: cover;
    height: 100vh;
}