{% extends "base.html" %}

{% block title %} Admin Home {% endblock%}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand special" href="/">
            <img src="../static/logo3.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Wisdom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="#home">Home</a>
                <a class="nav-item nav-link" href="#features">Features</a>
                <a class="nav-item nav-link" href="#about">About</a>
            </div>
        </div>
    </nav>

    <div class="row text-center mt-2">
        <div class="col">
            <h1>
                Welcome Admin
            </h1>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col">
            <h4>Generate Student info from CSV</h4>
            <!-- <button class="btn btn-primary">Here</button> -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-primary">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form action="/uploadStudentCSV" method="POST" enctype="multipart/form-data" class="form-group m-0">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04" name="inputCSV">
                        <label class="custom-file-label form-control-file" for="inputGroupFile04">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button id="filer" class="btn btn-outline-dark" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="row mt-5">

        <div class="col">
            <form action="/addClass">
                <label for="className">Add a class</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="enter class name">
                    <div class="input-group-append">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col">
            <div class="d-flex justify-content-between mb-3">
                <div class="">
                    <h3>Schools You Manage</h3>
                </div>
                <div class="d-flex justify-content-right">
                    <input type="text" class="form-control search align-self-center mr-3" placeholder="enter class name">
                    <button class="btn btn-dark mt-2 mb-2" id="creating">Create School</button>
                </div>
            </div>
            {% set manage = managed %}

            {% if manage|length == 0 %}
            <p class="mt-2 mb-5" style="color: red;">You aren't managing any schools, go create one!</p>
            {% else %}
            {% for i in range((manage|length // 4) + 1) %}
            <!-- Row stuff -->
            <div class="row mt-3 ml-3 mr-3">
                {% for j in managed[i * 4: i * 4 + 4] %}
                <div class="col-md-3">
                    <div class="card w-75">
                        <div class="card-body">
                            <h5 class="card-title">{{ j[0] }}</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="/school/{{ j[1] }}" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                    <div class="card mr-2 ml-2" style="width: 100%;">
                        <a href="/class/{{j[0]}}">
                            <div class="card-img-caption">
                                <p id="caption-text2" class="card-text">{{ j[1] }}</p>
                                <img class="card-img-top" src="../static/card_background2.jpeg" alt="Card image cap">
                            </div>
                        </a>

                        <div class="card-body">
                            <h5 class="card-title">Course Description</h5>
                            <p class="card-text">{{ j[2] | safe }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% endfor %}
            {% endif %}

        </div>

    </div>

</div>
<script>
    $('.custom-file-input').on('change', function () {
        var fileName = $(this).val();
        fileName = fileName.substring(12);
        $(this).next('.form-control-file').addClass("selected").html(fileName);
    });

    $('#creating').click(function () {
        console.log("adsf");
        var el = $("#creating");
        $('.search').toggleClass('expanded');
        $('#creating').toggleClass('fa-times');
        $("#creating").html("Submit");
    });
</script>

{% endblock %}