{% extends "base.html" %}

{% block title %} Admin Home {% endblock%}

{% block body %}
<div class="container">

    <div class="row text-center">
        <div class="col">
            <h3 class="display-3">
                Welcome Admin
            </h3>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col">
            <h3>Generate Student info from CSV</h3>
            <!-- <button class="btn btn-primary">Here</button> -->
            <form action="/submitFile" method="POST" enctype="multipart/form-data" class="form-group m-0">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04">
                        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="row mt-5">

        <div class="col">
            <form action="/addClass">
                <label for="className">Add a class</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="enter class name">
                    <div class="input-group-append">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
{% endblock %}