<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Welcome to Wisdom</title>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="70">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand special" href="/">
            <img src="../static/logo3.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Wisdom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="#home">Home</a>
                <a class="nav-item nav-link" href="#features">Features</a>
                <a class="nav-item nav-link" href="#about">About</a>
            </div>
        </div>
    </nav>

    <section id="home">
        <div class="container-fluid">

            <div class="row text-center">
                <div class="col">
                    <h2 class="text-light d-inline-block welcome">Welcome to Wisdom</h2>
                </div>
            </div>

            <div class="row text-center">
                <div class="col">
                    <a href="/register"><button class="btn no new_user"><span>New User?</span></button></a>
                    <br>
                    <a href="/login"><button class="btn no mt-4 returning"><span>Returning User?</span></button></a>
                </div>
            </div>

        </div>
    </section>

    <section id="features" class="bg-light">
        <div class="container-fluid">

            <div class="row text-center">
                <div class="col">
                    <h2 class="section-head special d-inline-block mb-4">F e a t u r e s</h2>
                </div>
            </div>

        </div>
        <div class="container mt-3">

            <div class="row text-center mt-3 mb-5">

                <div class="col-md-4">
                    <i class="fa fa-book" style="font-size: 3rem;"></i>
                    <h5 class="mt-3 mb-3 mini">Students</h5>
                    <ul class="text-left pl-5">
                        <li>view your classes</li>
                        <li>check homework and class posts</li>
                        <li>view your grades</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-apple-alt" style="font-size: 3rem; color: red;"></i>
                    <h5 class="mt-3 mb-3 mini">Teachers</h5>
                    <ul class="text-left pl-5">
                        <li>set grades for students</li>
                        <li>easily create class posts</li>
                        <li>view homework submissions</li>
                        <li>set and view assignment deadlines</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-tv" style="font-size: 3rem; color: blue"></i>
                    <h5 class="mt-3 mb-3 mini">Admins</h5>
                    <ul class="text-left pl-5">
                        <li>generate student usernames/passwords from a CSV file</li>
                        <li>create and delete new classes</li>
                        <li>manage multiple schools</li>
                    </ul>
                </div>

            </div>

        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>