<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login | Wisdom</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('../static/images/bg.jpeg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41 mb-4">
					Login
				</span>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="alert alert-primary">
					{% for message in messages %}
					{{ message }}
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
				<form class="login100-form validate-form p-b-33 p-t-5" action="/login" method="POST">

					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div id="p1" class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div id="p2" class="wrap-input100" data-validate="Enter ID">
						<input class="input100" type="text" name="schoolid" placeholder="ID">
						<span class="focus-input100" data-placeholder="&#xe828;"></span>
					</div>


					<div class="container-login100-form-btn m-t-32">
						<button id="log" class="login100-form-btn mt-5 mb-5">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var UID = {
			_current: 0,
			getNew: function () {
				this._current++;
				return this._current;
			}
		};

		HTMLElement.prototype.pseudoStyle = function (element, prop, value) {
			var _this = this;
			var _sheetId = "pseudoStyles";
			var _head = document.head || document.getElementsByTagName('head')[0];
			var _sheet = document.getElementById(_sheetId) || document.createElement('style');
			_sheet.id = _sheetId;
			var className = "pseudoStyle" + UID.getNew();

			_this.className += " " + className;

			_sheet.innerHTML += "\n." + className + ":" + element + "{" + prop + ":" + value + "}";
			_head.appendChild(_sheet);
			return this;
		};

		var div = document.getElementsByClassName("alert-validate")[0];

		document.getElementById("log").addEventListener("click", function (e) {
			console.log("hello");
			div.pseudoStyle("before", "content", "noU");
		});
	</script>

	<!--===============================================================================================-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>

</body>

</html>