{% extends "base.html" %}
{% block title %} Welcome | {{ schoolData["schoolName"] }} {% endblock %}

{% block head %}
<meta id="my-data" data-name='{{ schoolData | tojson | safe }}'>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand special" href="/">
        <img src="../static/logo3.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Wisdom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="#">{{ schoolData["schoolName"] }} </a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row mt-4 text-center">

        <div class="col">
            <h4 style="font-size: 3rem;">Hello Admin, here's what you can do:</h4>
        </div>
    </div>
    <hr>
    <div class="row mt-5">

        <div class="col">
            <h4>Generate Student info from CSV</h4>
            <!-- <button class="btn btn-primary">Here</button> -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-primary">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form action="/uploadStudentCSV" method="POST" enctype="multipart/form-data" class="form-group m-0">
                <div class="input-group">
                    <input type="hidden" name="schoolID" value="{{schoolData['schoolID']}}">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04" name="inputCSV">
                        <label class="custom-file-label form-control-file" for="inputGroupFile04">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button id="filer" class="btn btn-outline-dark" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row mt-5">

        <div class="col">
            <form action="/addClass" method="POST">
                <input type="hidden" name="schoolID" value="{{schoolData['schoolID']}}">
                <label for="className">Add a class</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="enter class name" name="className" required>
                    <div class="input-group-append">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <hr>
    <div class="row mt-3">

        <div class="col text-center">
            <h3 style="text-align: left;">Search for a class</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="enter class name"
                    aria-label="college_name" aria-describedby="button-addon2" name="search" id="search_button"
                    onkeyup="suggest()">
                <div class="input-group-append">
                    <button class="btn btn-outline-dark" type="submit" id="submit">Search</button>
                </div>
            </div>
            <div class="text-left">
                <ul id="suggestions" class="pl-0">
                </ul>
            </div>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $('.custom-file-input').on('change', function () {
        var fileName = $(this).val();
        fileName = fileName.substring(12);
        $(this).next('.form-control-file').addClass("selected").html(fileName);
    });
</script>
<script src="../static/index.js"></script>
{% endblock %}