{% extends "base.html" %}
{% block title %} Welcome Student {% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand special" href="/">
            <img src="../static/logo3.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Wisdom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="row mt-5">

        <div class="col">
            <h3>Hello, {{name}}</h3>
        </div>

    </div>
    <hr>
    <div class="row mt-4">
        <div class="col">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-primary">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <h3 class="underline">Change Password</h3>
        </div>

    </div>
    <hr>
    <form action="/changePass" method="POST">
        <div class="row">
            <div class="col">
                <label for="oldPassword">Old Password</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Enter old password" name="oldPassword"
                        required>
                </div>
            </div>
            <div class="col">
                <label for="newPassword">New Password</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Enter new password" name="newPassword"
                        required>
                    <div class="input-group-append">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="row mt-5">

        <div class="col">
            <div class="d-flex justify-content-start mb-3">
                <div class="">
                    <h4>Classes you attend</h4>
                </div>
            </div>
            {% set class = classes %}

            {% if class|length == 0 %}
            <p class="mt-2 mb-5" style="color: red;">You aren't in any classes!</p>
            {% else %}
            {% for i in range((class|length // 4) + 1) %}
            <!-- Row stuff -->
            <div class="row mt-3">
                {% for j in range(i * 4, class|length if i * 4 + 4 > class|length else class|length) %}
                <div class="col-md-3">
                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ class[j] }}</h5>
                            <div class="d-flex justify-content-between">
                                {% set url = "/school/" + schoolID|string + "/class/" + classID[j] %}
                                <a href="{{ url }}" class="btn btn-success">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% endfor %}
            {% endif %}

        </div>

    </div>


</div>

{% endblock %}