{% extends "base.html" %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %} Welcome {% endblock %}</title>
</head>

<body>
    {% block body %}
    <div class="container">

        <div class="row text-center">
            <div class="col">
                <h2 class="display-3">
                    Welcome, Log In Below
                </h2>
            </div>
        </div>

        <div class="row ml-5 mr-5">
            <div class="col">
                <form action="/student">

                    <div class="form-group">
                        <label for="sUser">Student username</label>
                        <input type="text" name="sUser" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="sPass">Student password</label>
                        <input type="password" name="sPass" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>

        <hr>

        <div class="row ml-5 mr-5">
            <div class="col">
                <form action="/admin">

                    <div class="form-group">
                        <label for="aUser">Admin username</label>
                        <input type="text" name="aUser" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="aPass">Admin password</label>
                        <input type="password" name="aPass" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>

    </div>
    {% endblock %}

</body>

</html>