<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login | Wisdom</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('../static/images/bg.jpeg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Login
				</span>
				{% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-primary">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
				<form class="login100-form validate-form p-b-33 p-t-5" action="/login" method="POST">

					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div id="p1" class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div id="p2" class="wrap-input100" data-validate="Enter ID">
						<input class="input100" type="text" name="schoolid" placeholder="ID">
						<span class="focus-input100" data-placeholder="&#xe828;"></span>
					</div>


					<div class="container-login100-form-btn m-t-32">
						<button id="log" class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		var UID = {
			_current: 0,
			getNew: function () {
				this._current++;
				return this._current;
			}
		};

		HTMLElement.prototype.pseudoStyle = function (element, prop, value) {
			var _this = this;
			var _sheetId = "pseudoStyles";
			var _head = document.head || document.getElementsByTagName('head')[0];
			var _sheet = document.getElementById(_sheetId) || document.createElement('style');
			_sheet.id = _sheetId;
			var className = "pseudoStyle" + UID.getNew();

			_this.className += " " + className;

			_sheet.innerHTML += "\n." + className + ":" + element + "{" + prop + ":" + value + "}";
			_head.appendChild(_sheet);
			return this;
		};

		var div = document.getElementsByClassName("alert-validate")[0];
		
		document.getElementById("log").addEventListener("click", function(e) {
			console.log("hello");
			div.pseudoStyle("before", "content", "noU");
		});
	</script>

	<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>

</body>

</html>